@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

body {
  margin: 0;
  background-color: rgb(20, 20, 20);
}
#app {
  height: 100vh;
  width: 100vw;
}
a{
  text-decoration: none;
  color: #fff;
}

/* Canvas */
canvas {
  height: inherit;
  width: inherit;
  background-color: rgba(20, 20, 20, 1);
  overflow: hidden;
}

/* Navbar */
#navbar {
  width: 200px;
  float: right;
  background-color: rgba(20, 20, 20, 0);
  padding: 0px 0;
  margin: 0;
}
#navbar ul {
  display: flex;
  margin-right: 5%;
  justify-content: flex-end;
  list-style: none;
}
#navbar a {
  display: flex;
  flex-direction: row;
  margin: 5px 6px;
  padding: auto;
  font-family: "Gilroy Bold", cursive;
  font-size: 0.5rem;
}
#navbar a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 0 5px #fff;
}

/* salutation */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
}
.name {
  position: absolute;
  top: 40%;
  right: 50%;
  color: #fff;
  font-family: "Gilroy Medium";
  font-size: 1rem;
}
.hello {
  animation: showup 2s;
}
.rem-text {
  animation: slidein 7s;
}
@keyframes showup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slidein {
  0% {
    opacity: 0;
    margin-left: -50px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
.scroll{
  position: absolute;
  left:50%;
  /* content:; */
}
/* @keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
} */
/* about */
:root {
  --card-height: 72.5vh;
  --card-width: calc(1.5 * var(--card-height));
  --rotate: 0deg;
  --rotate2: 0deg;
}

.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  right: -25vw;
  top: 50px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  /* color: rgb(88 199 250 / 100%); */
  font-family: "Gilroy Medium";
}

.card::before {
  content: "";
  width: 104%;
  height: 106%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff 20%,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -3%;
  left: -2%;

}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate2),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
}

.resume{
  font-family: "Gilroy Medium";
  font-size: 1.5em;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  display: flex;

}
.resume span{
  color: white;
}
/* media queries */
@media (min-width: 500) {
  .name {
    font-size: 2rem;
  }
  #navbar a {
    margin: 5px 15px;
    font-size: 1.2rem;
  }
}

@media (min-width: 1500px) {
  #navbar a {
    font-size: 2rem;
    margin: 5px 25px;
  }
  .name {
    font-size: 6rem;
  }
  @keyframes slidein {
    0% {
      opacity: 0;
      margin-left: -100px;
    }
    100% {
      opacity: 1;
      margin-left: 0px;
    }
  }
}

@media (min-width: 1025px) {
  .name {
    font-size: 2.5rem;
  }
  #navbar a {
    margin: 5px 15px;
    font-size: 1rem;
  }
}
